// ****************************************************************************
//
//  LAUNCH PAGE
//
// ****************************************************************************

$box-color: #000;
$box-font-color: #fff;

@mixin Opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

.launch-page {
  background: asset_url('launch_background.png') 0 0 no-repeat;

  .box{
    color: $box-font-color;
    background-color: $box-color;
    margin: auto;
    margin-top: 60px;
    border-radius: 15px;
    font-family: $lucida-grande;
    @include Opacity(.85);
    text-align: center;
    padding: 20px;
    max-width: 90%;

    h1{
      font-size: 20px;
      margin-bottom: 20px;
    }

    p{
      font-size: 15px;
      margin-bottom: 20px;
    }
  }

  .call-to-action-pre-text{
    font-style: italic;
  }

  nav.share {
      display:inline-block;
  
      div {
        float:left; overflow:hidden;
      }
      .fb_iframe_widget{
        bottom: 5px;
      }
      iframe {
        max-height:100px; border:0; margin-top:0; padding-top:0;
      }
  }
}

// ****************************************************************************
//
//  HEADER
//
// ****************************************************************************
.master-header{
  position: relative;
  height: 90px;
  padding: 20px 0 0;
  font-family: $lucida-grande;
  background-color: #fff;

  .header-title{
    position: relative;
    bottom: 20px;
    display:inline;
  }

  nav {
    display: inline-block;
  }
  ul{
    li{
      list-style-type: none;
      float: left;
      padding: 10px;

      a{
        color: #989898;
        text-decoration: none;
      }
    }
  }
}

.article{
  background: #fff;
  height: auto;
  font-size: 16px;
  color: #333333;
}

// ****************************************************************************
//
//  HOME PAGE
//
// ****************************************************************************

.first-section{
  height: 500px;
  background-color: red;
}
.second-section{
  height: 500px;
  background-color: gray;
}
.third-section{
  height: 500px;
  background-color: green;
}
.fourth-section{
  height: 500px;
  background-color: blue;
}
